<section>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h1><strong>Job opportunities</strong></h1>
					</div>
					<div class="col-sm-6">
						    <!-- input tag -->
						<input id="searchbar" onkeyup="search_job()" type="text"
						name="search" placeholder="Search jobs..">
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>

						<th>Title</th>
						<th>Company's name</th>
						<th>Description</th>
						<th>URL</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>IT Summer Program Intern</td>
						<td>EcoVadis</td>
						<td> The Summer Internship Program will enable you to discover the most trusted sustainability ratings from within and see how the different teams are working together in the truly CSR business environment. </td>
						<td><a href="https://jobs.smartrecruiters.com/ecovadis/743999824725415-it-summer-program-intern">Click here for more informations</a></td>

				
					</tr>
					<tr>
						<td> Fullstack Developer (Remote)</td>
						<td>Gemography</td>
						<td>C’est une plateforme de services nouvelle génération permettant à des indépendants de développer leur propre service d’agence immobilière.</td>
						<td><a href="https://www.gemography.com/jobs/developpeur-se-fullstack-efct?utm_source=linkedin-jobs&utm_medium=cpc&utm_campaign=fullstack-engineer-jd-efct&utm_content=tunisia">Click here for more informations</a></td>
						

					</tr>
					<tr>
						<td>Graphic designer</td>
						<td>Phylia technology</td>
						<td>- Design models and graphic illustrations
							- Web banners
							- Print: POS, posters, flyers, leaflets, announcements</td>
							<td><a href="https://www.tanitjobs.com/job/1027195/infographiste/?backPage=&searchID=1651999531.106">Click here for more informations</a></td>
					</tr>
					<tr>
						<td>Motorized Delivery Driver (Médenine)</td>
						<td>TARGUI EXPRESS</td>
						<td>The Targui express company is hiring a delivery man with a commercial car in the Medenine area to ensure the delivery of packages as soon as possible.</td>
						<td><a href="https://www.tanitjobs.com/job/1027538/livreur-motoris%C3%A9-m%C3%A9denine/?backPage=&searchID=1651999531.106">Click here for more informations</a></td>

					</tr>	
					<tr>
						<td>Marketing Digital	</td>
						<td>Tashiil services</td>
						<td>Marketing digital.</td>
						<td><a href="https://www.tanitjobs.com/job/1026361/marketing-digital/?backPage=&searchID=1651999531.106">Click here for more informations</a></td>


					</tr>
					<tr>
						<td>Human Resources Management</td>
						<td>BENAYED TELEGESTION</td>
						<td>Piloter les projets de ressources humaines
							- Sourcing / sélection /
							- Dossiers entrées / sorties.
							- Suivi quotidien du pointage / notes de frais ….</td>
						<td><a href="https://www.tanitjobs.com/job/1018373/gestion-de-ressources-humaines/?backPage=&searchID=1651999531.106">Click here for more informations</a></td>

					</tr>
				</tbody>
			</table>
			
		</div>
	</div>        
</div>

</section>
