<section>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1><strong>Volunteer opportunities</strong></h1>
                        </div>
                        <div class="col-sm-6">
                                <!-- input tag -->
                            <input id="searchbar" onkeyup="search_job()" type="text"
                            name="search" placeholder="Search jobs..">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
    
                            <th>Title</th>
                            <th>Company's name</th>
                            <th>Description</th>
                            <th>URL</th>
    
                        </tr>
                    </thead>
                    <tbody>
  
                        <tr>
                            <td> Call for activities to integrate the Programme of the University on Youth and Development 2022.</td>
                            <td>Youth Cooperation</td>
                            <td> The Youth Cooperation Programme aims at increasing youth participation and international cooperation in the youth sector to build more peaceful societies and more inclusive decision-making processes. </td>
                            <td><a href="https://www.coe.int/en/web/north-south-centre/youth-co-operation/-/asset_publisher/h4f0kpljXhIU/content/call-for-activities-to-integrate-the-programme-of-the-university-on-youth-and-development-2022-?_101_INSTANCE_h4f0kpljXhIU_viewMode=view%2F&fbclid=IwAR1cK2UplSBlfrONlBzkbT9lUbzZU9E2kmdFBKk2tUPhpMdowNbF5EzsifU">Click here for more informations</a></td>
    
                        
                        </tr>	
                        <tr>
                            <td>CALL for volunteers: Youth summer fest in Timisoara, Romania </td>

                            <td>FITT</td>
                            <td>2022 marks the European Year of Youth, and the city of Timisoara prepares itself for embracing the title of European Capital of Culture in 2023. In order to make this year unforgettable and raise awareness of the power of youth, we are bringing together over 200 volunteers that are going to organise and promote cultural, educational and leisure events for other young people in Timisoara. </td>
                            <td><a href="https://fitt.ro/youth-summer-fest-romania/?fbclid=IwAR1D4sacO1hLeFivaNtcfQhw19F6PuIdeqcorlrM9m54b_MrDXqp6Xft3x0">Click here for more informations</a></td>
                            
                        </tr>
                        <tr>
                            <td>EUROPEAN SOLIDARITY CORPS
                                PARTNERSHIP PROJECT</td>
                            <td>Youth Embassy</td>
                            <td>Youth Embassy is looking for volunteers for a volunteer program in Estonia
                                Volunteer Features: Interested in working with local young people in different youth centres across Estonia
                                Start date: As soon as possible</td>
                                <td><a href="https://drive.google.com/file/d/1bQl30JHQZ9rY-P60K-UInjN-haOGxOGl/view?fbclid=IwAR1B213IsBb2wT1nuSdlbguVwf_1Ltjf49Z0BwmgYuPPUN7XO4AF6U3u7qw">Click here for more informations</a></td>
                              
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>        
    </div>
    
    </section>
    